<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail de l'article</title>
</head>
<body>
<h2>Détail de l'article</h2>
<p><strong>ID :</strong> <span th:text="${item.id}"></span></p>
<p><strong>GUID :</strong> <span th:text="${item.guid}"></span></p>
<p><strong>Titre :</strong> <span th:text="${item.title}"></span></p>
<p><strong>Catégories :</strong>
<ul>
    <li th:each="cat : ${item.category}" th:text="${cat.term}"></li>
</ul>
</p>
<p><strong>Date de publication :</strong> <span th:text="${item.published}"></span></p>
<p><strong>Date de mise à jour :</strong> <span th:text="${item.updated}"></span></p>
<p><strong>Auteurs / Contributeurs :</strong>
<ul>
    <li th:each="auth : ${item.authorOrContributor}" th:text="${auth.name}"></li>
</ul>
</p>
<p><strong>Contenu :</strong> <span th:text="${item.content.value}"></span></p>
</body>
</html>
