<!-- templates/fragments.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<!-- Fragment Header -->
<div th:fragment="header">
    <header class="site-header">
        <div class="logo-container">
            <img th:src="@{/img/logo-univ-rouen.png}" alt="Logo Université de Rouen" width="200" height="120" />
        </div>

        <nav class="nav-menu">
            <ul class="menu-container">
                <li><a th:href="@{/}">Accueil</a></li>
                <li><a th:href="@{/help}">Aide</a></li>
                <li><a th:href="@{/rss25SB/resume/html}">Liste des articles</a></li>
            </ul>
        </nav>

        <div class="app-version">
            Version de l'application : <span>1.0</span>
        </div>
    </header>
</div>

</body>
</html>
