<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="/help">
                        Aide
                    </a>
                </li>
                <li>
                    feed
                </li>
            </ul>
        </nav>
     </header>
     <section>
         <div>
             Autheur: MUHOZA Clayton
         </div>
         <div>
             Version: <span>1.O</span>
         </div>
         <div>
             Version Java: <span>21</span>
         </div>
     </section>
</body>
</html>